<div style="display: flex;flex-direction:column;width: 99%;gap: 20px;background-color: gray;">
    <div
        style="display: flex;flex-direction:row;width: 100%;height: 50px;align-items: center;border: 1px solid #45698D; background-color: white;">
        <div class="bg" style="width: 100px;">kasmn</div>
        <i class="material-icons" style="color: #45698D;">search</i>
        <div  class="bg" style="width: 200px;">
            <input type="text" placeholder="Search..">
        </div>
        <div class="bg" style="padding-left: 20px;color: gray;">Production>dying>Recipes>Cow</div>
    </div>


    <div style="display: flex;flex-direction:row;width: 98%;gap: 20px;">
        <div class="font"
            style="display: flex;flex-direction:column;width: 30%;border: 1px solid #45698D;color: white;height: 700px;">
            <div class="bg" style="color: gray;"> Farzan Mirza</div>
            <div class="bg" style="color: #45698D;text-decoration: underline;"><b>Notifications</b></div>
            <div class="nrmlFont bg"><i class="material-icons" style="color: #45698D;">home</i>Mirza internation added 1.</div>
            <div class="nrmlFont bg"><i class="material-icons">chat</i>Mirza internation added 2</div>
            <div class="nrmlFont bg"><i class="material-icons">settings</i>Mirza internation added 3</div>
            <div class="nrmlFont bg" style="display: flex;justify-content: end;">see more</div>
            <div class="bg"><i class="material-icons" style="color: #45698D;">home</i>Home</div>
            <div class="bg" style="color: #45698D;text-decoration: underline;"><i class="material-icons">settings</i><b>Production</b></div>
            <div class="bg" style="color: #45698D;"><b>dying</b></div>
            <div class="bg" style="color: #45698D;"><b>Finishing</b></div>
            <div class="bg">Crusting</div>
            <div class="bg"><i class="material-icons">chat</i>Reports</div>
            <div class="bg">Planning</div>
            <div class="bg">Finances</div>
            <div class="bg" style="color: gray;">See more</div>
        </div>

        <div style="display: flex;flex-direction:column;width: 34%; gap: 10px; background-color: rgb(236, 232, 232);">
            <div style="display: flex;flex-direction:column;background-color: white;">
                <p style="color: #45698D;padding-left: 10px;"><b>Tasks</b> </p>
                <div style="display: flex;flex-direction:row;min-width: 100%;">
                    <div style="width: 33%;color: #45698D;text-decoration: underline;padding-left: 5px;"><b>Daily</b></div>
                    <div style="width: 33%;">Pending</div>
                    <div style="width: 33%;">Monthly</div>
                </div>


            </div>
            <div style="padding: 10px;">
                <div class="card"></div>
            </div>
            <div style="padding: 10px;">
                <div class="card"></div>
            </div>
        </div>


        <div style="display: flex;flex-direction:column;width: 34%;gap:10px;">

            <div class="card" style="background-color: rgb(236, 232, 232);">

                <div class="thirdCard">
                    <p style="color: #45698D;"><b>Trends</b></p>
                </div>
            </div>
            <div class="card" style="background-color: rgb(236, 232, 232);">
                <div class="thirdCard">
                    <p style="color: #45698D;"><b>Efficiency</b></p>
                </div>

            </div>
        </div>
    </div>


    <div style="display: flex;flex-direction:row;background-color: white;height: 50px;align-items: center;justify-content: center;">
        <div style="color: #45698D">Innovated By Fazan Mirza</div>
    </div>


</div>