
.font{
    font-weight: bold;
}
.nrmlFont{
font-weight:100;
}
.card{
    width: 100% !important;
    height: 300px !important;
    background-color: white;
    border-radius: 2px solid red;
    justify-content: start;
}

.thirdCard{
    height: 20%;
    background-color: white;
    margin-top: -16px;
    padding: 20px;
}
.bg{
    background-color: white;
    color: black;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 5px;
}